@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --kali-color: #558ff4;
    --accent-color-1: #ffe01b;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100vw;
    justify-content: space-evenly;
    background-color: var(--kali-color);
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    align-items: center;
    gap: 1em;
    color: white;
}

header img {
    height: 80%;
}

.button-container {
    display: flex;
    gap: 1em;
}

.header-button {
    display: flex;
    align-items: center;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.08rem;
}

.button--register {
    background-color: var(--accent-color-1);
    color: black;
    border: 1px solid black;
}

main {
    margin-top: 70px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 12px solid red; */
    background: rgb(85,143,244);
    background: linear-gradient(180deg, rgba(85,143,244,1) 0%, rgba(255,255,255,1) 20%);
}

.hero-container {
    display: flex;
    max-width: 1200px;
    margin: 20px;
    /* border: 12px solid yellow; */
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    /* border: 8px solid blue; */
    justify-content: center;
    width: 60%;
    gap: 1rem;
}

.hero-text h1 {
    font-size: 2.8rem;
    font-weight: 700;
}

.hero-text p {
    width: 90%;
    font-size: 20px;
    font-weight: 300;
}

.hero button {
    display: flex;
    padding: 20px 30px;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    background-color: var(--kali-color);
    border: 3px solid black;
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.hero-container img {
    max-width: 350px;
    /* border: 8px solid blue; */
}

.hero i {
    font-size: 40px;
    margin-bottom: 2rem;
}

.about-us {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 150px 80px;
    border: 7px solid red;
    height: 350px;
    justify-content: space-between;
    background: rgba( 255, 224, 27, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 13px );
-webkit-backdrop-filter: blur( 13px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.about-us h2 {
    font-size: 80px;
}